*.xcuserstate
xcschememanagement.plist
Breakpoints_v2.xcbkptlist
Pods-AWSKVSWebRTCReceiver-AWSKVSWebRTCReceiverUITests.xcscheme
Pods-AWSKinesisVideoWebRTCDemoApp-AWSKinesisVideoWebRTCDemoAppUITests.xcscheme
Pods-AWSKVSWebRTCReceiver.xcscheme
